{#
/**
 * Full width header template.
 * This is to have a full bleed image/gradiant and the content within a centered container.
 */
 #}
<div{{ attributes.addClass('jumpstart-ui--one-column', 'centered-container', 'section-header', 'centered-content') }}>
  <div class="main-region flex-10-of-12">
    <div class="spotlight-banner engineering-accent-color__image">
      <div {{ region_attributes.spotlight_hero_image.addClass('su-spotlight-feature-image') }}>
        {{ content.spotlight_hero_image }}
      </div>
      <div {{ region_attributes.spotlight_hero_text.addClass('spotlight-banner__text') }}>
        {{ content.spotlight_hero_text }}
      </div>
    </div>
  </div>
</div>
